<div class="images-container">
    <% if(imgList){ %>
        <% imgList.forEach(function(img){ %>
            <a href="<%= img.link %>" target=”_blank”>
                <div class="image-container">
                    <img class="image-painting" src="<%= img.imgSrc %>" alt="ai generated image">
                    <p class="img-title"><%= img.title %></p>
                    <div class="news-src"><span class="fi fi-<%= img.country %>"></span>
                        <p><%= img.newsProvider %></p></div>
                </div>
            </a>
        <% }); %>
    <% } %>
</div>

<script type="module" src="/clientScripts/imgLazyLoading.js"></script>





