<button onclick="handleAddElement()">ADD</button>
<div class="images-container">
    <% if(imgList){ %>
        <% imgList.forEach(function(img){ %>
            <a href="<%= img.link %>" target=”_blank”>
                <div class="image-container">
                    <img class="image-painting" src="<%= img.imgSrc %>" alt="ai generated image">
                    <p class="img-title"><%= img.title %></p>
                    <div class="news-src"><span class="fi fi-<%= img.country %>"></span>
                        <p><%= img.newsProvider %></p></div>
                </div>
            </a>
        <% }); %>
    <% } %>

</div>

<script>
    function handleAddElement() {
        const bodyReq = {koza: "jest"}
        fetch("http://localhost:5555/test", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bodyReq)
        }).then(res => {

            return res.json()
        }).then(response => {
            console.log("response1111", response)
            addElement(response)
        }).catch(err => {
            console.log("ERRROEOREOROERER", err)
        })

    }

    function addElement(data) {
        let fragment = new DocumentFragment();
        const mainContainer = document.querySelector('.main-container')

        const createElements = () => {
            const imagesContainer = document.createElement('div')
            const anchorTag = document.createElement('a')
            const imageContainer = document.createElement('div')
            const image = document.createElement('img')
            const imageTitle = document.createElement('p')
            const newsSrcContainer = document.createElement('div')
            const newsSrcText = document.createElement('p')
            const newsSrcFlag = document.createElement('span')

            return () => {
                imagesContainer.classList.add("images-container")
                anchorTag.href = "https://www.telegraph.co.uk/world-news/2023/03/30/donald-trump-arrest-news-latest-indictment-stormy-daniels-cohen/"
                anchorTag.target = "_blank"
                imageContainer.classList.add("image-container")
                image.src = "img/-live-.jpg"
                image.alt = "ai generated image"
                image.classList.add("image-painting")
                imageTitle.innerText = "UN rapporteur on environmental defenders: 'The French state's response seemed largely disproportionate'"
                imageTitle.classList.add('img-title')
                newsSrcContainer.classList.add('news-src')
                newsSrcFlag.classList.add('fi', 'fi-fr')
                newsSrcText.innerText = "Le Monde"

                return () => {
                    newsSrcContainer.append(newsSrcFlag)
                    newsSrcContainer.append(newsSrcText)
                    imageContainer.append(image)
                    imageContainer.append(imageTitle)
                    imageContainer.append(newsSrcContainer)
                    anchorTag.append(imageContainer)
                    imagesContainer.append(anchorTag)

                    fragment.append(imagesContainer)
                    mainContainer.appendChild(fragment)
                }
            }
        }

    }

</script>





